<!-- Big screen -->
<div class="hidden-xs">

  <div class="container row">

    <div class="col-sm-12">

      <div class="footer">
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
          This footer is made with <i class="fas fa-heart"></i> at Le Wagon Rio de Janeiro
        </div>
      </div>

    </div>

  </div>

</div>



<!-- Mobile only -->
<div class="visible-xs">

  <div>

    <div class="container row">

      <div class="col-sm-6">
        <div class="footer">
          <div class="footer-links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="footer-copyright">
          This footer is made with <i class="fas fa-heart"></i>
          <br>
          at Le Wagon Rio de Janeiro
        </div>
      </div>

    </div>

  </div>

</div>

