.banner-2 {
  // background-size: cover;
  background-position: center;
  padding: 50px 0;
  // height: 150px;
}

.banner-2 h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 10px white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner-2 p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 10px gray;
}

