.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: #cdf7ca;
  }
  .past {}
  .future {}
  .start-date {}

  .prev-month {}
  .next-month {}
  .current-month {}

  .has-events {
    background-color: green;
    color: white;

  }
  .calendar-heading{
    color: black;
    text-decoration: none;
  }

  .calendar-title{
}

  .table-striped{
  font-size: 14px;

  }



}

